.git
*Dockerfile*
compose.yaml

**/.npm/
**/.pnpm/
**/.pnpm-store/
**/.yarn/
**/bower_components/
**/node_modules/
.npmignore
.npmrc
.npmrc.*
.yarnrc
.yarnrc.yml

pnpm-workspace.yaml

# Logs
*.log
**/logs/

npm-debug.log*
pnpm-debug.log*
yarn-error.log
*.log.*

# Runtime data
pids
*.pid
*.seed

**/.cache/
**/.turbo/

.node_repl_history

*.cache
*.temp
*.tmp